<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq0Fh_QAT6XN9iYuJ5uYeaE0lVmDeES2E</string>
	<key>GCM_SENDER_ID</key>
	<string>567835267608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.roadguard</string>
	<key>PROJECT_ID</key>
	<string>road-guard-pj5j2x</string>
	<key>STORAGE_BUCKET</key>
	<string>road-guard-pj5j2x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567835267608:ios:dbe27c7f92354251ca696d</string>
</dict>
</plist>